<%= button_to "Discover Movies", discover_path, method: :get %>

<section class="friends">
  <%# <%=# button_to "Add Friend", discover_path, method: :get %> 
  <p>You currently have no friends.</p>
</section>

<section class="viewing-parties">
  <p>You have no viewing parties coming up.</p>
</section>
