---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0c3239fffa5f2643b8b9b013d597efd0
      X-Memc-Age:
      - '16348'
      X-Memc-Expires:
      - '5252'
      Etag:
      - W/"07ec01a62bb10dffeea2e6ade351f657"
      Last-Modified:
      - Thu, 27 Aug 2020 00:16:37 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/cubZdqcu2VdIBhlLCaJqFStFkO8.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":35,"name":"Comedy"}],"homepage":"","id":13778,"imdb_id":"tt0325258","original_language":"en","original_title":"Dickie
        Roberts: Former Child Star","overview":"TV child star of the ''70s, Dickie
        Roberts is now 35 and parking cars. Craving to regain the spotlight, he auditions
        for a role of a normal guy, but the director quickly sees he is anything but
        normal. Desperate to win the part, Dickie hires a family to help him replay
        his childhood and assume the identity of an average, everyday kid.","popularity":9.659,"poster_path":"/6dgCPSVEEMU2BLvxOzBAvkQjIeL.jpg","production_companies":[{"id":2608,"logo_path":"/g3YRudXiQzHesQqRXvnhFpMzfkU.png","name":"Happy
        Madison Productions","origin_country":"US"},{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2003-09-05","revenue":0,"runtime":98,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"50
        million people used to watch him on TV. Now he washes their cars.","title":"Dickie
        Roberts: Former Child Star","video":false,"vote_average":5.1,"vote_count":130}'
  recorded_at: Thu, 27 Aug 2020 02:03:45 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778/credits?api_key=<MOVIE_DB_API_KEY_V3>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9a642f48fb73b50dd878fad567795985
      X-Memc-Age:
      - '15067'
      X-Memc-Expires:
      - '6533'
      Etag:
      - W/"cc8194b7b5bd5b9c4050b762ce23fc8d"
      Last-Modified:
      - Thu, 27 Aug 2020 02:03:45 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":13778,"cast":[{"cast_id":1,"character":"Dickie Roberts","credit_id":"52fe459b9251416c7505c597","gender":2,"id":60950,"name":"David
        Spade","order":0,"profile_path":"/8tv638lAMLmYh8bSLICqPzbW3tv.jpg"},{"cast_id":2,"character":"Grace
        Finney","credit_id":"52fe459b9251416c7505c59b","gender":1,"id":1980,"name":"Mary
        McCormack","order":1,"profile_path":"/e2brLtFCfgLdOp356bcEyRzQkoJ.jpg"},{"cast_id":3,"character":"George
        Finney","credit_id":"52fe459b9251416c7505c59f","gender":2,"id":14886,"name":"Craig
        Bierko","order":2,"profile_path":"/btsSJRxc0i7Xty1R0iCYOnbTuDE.jpg"},{"cast_id":4,"character":"Sam
        Finney","credit_id":"52f[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778/reviews?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d15feaf6acacab017db71d6ce6c3b8d6
      X-Memc-Age:
      - '2507'
      X-Memc-Expires:
      - '19093'
      Etag:
      - W/"ba5343698a46a0a58aea76585c37cb53"
      Last-Modified:
      - Thu, 27 Aug 2020 02:03:45 GMT
    body:
      encoding: UTF-8
      string: '{"id":13778,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 27 Aug 2020 02:03:45 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778/reviews?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d15feaf6acacab017db71d6ce6c3b8d6
      X-Memc-Age:
      - '2507'
      X-Memc-Expires:
      - '19093'
      Etag:
      - W/"ba5343698a46a0a58aea76585c37cb53"
      Last-Modified:
      - Thu, 27 Aug 2020 02:03:45 GMT
    body:
      encoding: UTF-8
      string: '{"id":13778,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 27 Aug 2020 02:03:45 GMT
recorded_with: VCR 6.0.0
