---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US&page=1&query=Dickie%20Roberts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"total_results":1,"total_pages":1,"results":[{"popularity":11.449,"id":13778,"video":false,"vote_count":128,"vote_average":5.1,"title":"Dickie
        Roberts: Former Child Star","release_date":"2003-09-05","original_language":"en","original_title":"Dickie
        Roberts: Former Child Star","genre_ids":[35],"backdrop_path":"\/cubZdqcu2VdIBhlLCaJqFStFkO8.jpg","adult":false,"overview":"TV
        child star of the ''70s, Dickie Roberts is now 35 and parking cars. Craving
        to regain the spotlight, he auditions for a role of a normal guy, but the
        director quickly sees he is anything but normal. Desperate to win the part,
        Dickie hires a family to help him replay his childhood and assume the identity
        of an average, everyday kid.","poster_path":"\/6dgCPSVEEMU2BLvxOzBAvkQjIeL.jpg"}]}'
  recorded_at: Mon, 24 Aug 2020 23:13:49 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US&page=2&query=Dickie%20Roberts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 2bb8cfc3a3e9bf88239773a4c0bdedfc
    body:
      encoding: UTF-8
      string: '{"page":2,"total_results":1,"total_pages":1,"results":[]}'
  recorded_at: Mon, 24 Aug 2020 23:13:49 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0c3239fffa5f2643b8b9b013d597efd0
      X-Memc-Age:
      - '20502'
      X-Memc-Expires:
      - '1098'
      Etag:
      - W/"698fcb147d22f6ccd6d2c97768505a6b"
      Last-Modified:
      - Mon, 24 Aug 2020 21:12:58 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/cubZdqcu2VdIBhlLCaJqFStFkO8.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":35,"name":"Comedy"}],"homepage":"","id":13778,"imdb_id":"tt0325258","original_language":"en","original_title":"Dickie
        Roberts: Former Child Star","overview":"TV child star of the ''70s, Dickie
        Roberts is now 35 and parking cars. Craving to regain the spotlight, he auditions
        for a role of a normal guy, but the director quickly sees he is anything but
        normal. Desperate to win the part, Dickie hires a family to help him replay
        his childhood and assume the identity of an average, everyday kid.","popularity":11.449,"poster_path":"/6dgCPSVEEMU2BLvxOzBAvkQjIeL.jpg","production_companies":[{"id":2608,"logo_path":"/g3YRudXiQzHesQqRXvnhFpMzfkU.png","name":"Happy
        Madison Productions","origin_country":"US"},{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2003-09-05","revenue":0,"runtime":98,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"50
        million people used to watch him on TV. Now he washes their cars.","title":"Dickie
        Roberts: Former Child Star","video":false,"vote_average":5.1,"vote_count":128}'
  recorded_at: Mon, 24 Aug 2020 23:13:49 GMT
recorded_with: VCR 6.0.0
