---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/13778/reviews?api_key=<MOVIE_DB_API_KEY_V3>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d15feaf6acacab017db71d6ce6c3b8d6
      X-Memc-Age:
      - '2507'
      X-Memc-Expires:
      - '19093'
      Etag:
      - W/"ba5343698a46a0a58aea76585c37cb53"
      Last-Modified:
      - Thu, 27 Aug 2020 02:03:45 GMT
    body:
      encoding: UTF-8
      string: '{"id":13778,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 27 Aug 2020 03:02:52 GMT
recorded_with: VCR 6.0.0
